.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 100px;
  height: 100%;
}

.plane {
  display: block;
  margin: auto;
  max-width: 10rem;
}

span.heading {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
  display: inline-block;
  text-align: center;
  opacity: 0.5;
}

.contact__items {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__items p {
  text-align: center;
}

.contact__items > div {
  flex: 0 1 50%;
}

.contact__items > div:nth-child(2n) {
  padding: 0.5rem 0 1rem 0;
}

.icon {
  margin: 0 auto;
  background: red;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
}

.icon img {
  height: 1.5rem;
}

div.bottom-section {
  flex: 1 1 10%;
}

@media (min-width: 700px) {
  .contact {
    height: auto;
  }

  .contact__items {
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
  }

  .contact__items p {
    text-align: left;
  }

  .contact__items > div {
    flex: 0 0 30%;
    margin-bottom: 1rem;
  }

  .contact__items :nth-child(2n) {
    flex: 1 0 70%;
    align-self: center;
    text-align: left;
  }

  .contact div.bottom-section {
    flex: 1 1 30%;
  }
}
