.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 60px;
  height: 100%;
}

div.top-section {
  display: flex;
  flex: 0 1 33%;
  flex-direction: column;
  justify-content: flex-end;
}

.top-section > div {
  flex: 0 0 40%;
}

.heading {
  display: inline-flex;
  align-items: center;
  font-size: 2.5rem;
  order: 2;
}

.heading span {
  text-align: center;
}

.plane {
  display: inline-flex;
  align-items: center;
}

.plane__circle {
  margin: 0 auto;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.plane__circle img {
  height: 4rem;
  width: 4rem;
}

.contact__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact__items p {
  text-align: center;
}

.contact__items > div {
  flex: 0 1 100%;
  margin-bottom: 1rem;
}

.icon {
  background: red;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
}

.icon img {
  height: 1.5rem;
}

.instagram img {
  height: 2rem;
}

div.bottom-section {
  flex: 1 1 10%;
}

@media (min-width: 600px) {
  .contact__items {
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
  }

  .contact__items p {
    text-align: left;
  }

  .contact__items > div {
    flex: 0 0 30%;
  }

  .contact__items :nth-child(2n) {
    flex: 1 0 70%;
    align-self: center;
    text-align: left;
  }
}
