.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.13);
  height: 56px;
}

.toolbar__logo img {
  height: 40px;
  text-decoration: none;
  margin: 15px 0 0 15px;
}

.toolbar__navigation {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  margin-top: 30px;
}

.toolbar__navigation li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
   color: #353948;
  text-decoration: none;
  font-size: 1.5.rem;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #ec1923;
}

.activeRoute {
  border-bottom: 1px solid #ec1923;
}

.spacer {
  flex: 1; /*occupy all the available space between items */
}

li.contactMe {
  margin-top: -10px;
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
  border: 1px red solid;
  color: red;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

li.contactMe:hover {
  color: white;
  background: red;
}

.github__logo img {
  margin-top: -5px;
  height: 30px;
}

@media (max-width: 600px) {
  .toolbar_navigation-items {
    display: none;
  }
}
@media (min-width: 600px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}
