.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  max-width: 320px;
  width: 80%;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
  display: flex;
  flex-direction: column;
}

.avatar {
  margin-top: 50px;
  clear: right;
  
}

.avatar img {
  margin: auto;
  width: 90%;
  max-width: 170px;
  display: block;
  border-radius: 50%;
 
}

.name {
  margin-top: 30px;
  text-align: center;
}

.contact__center {
  text-align: center;
}

div.contact-me {
  display: inline-block;
  margin: 20px auto;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 15px;
  border: 1px #ec1923 solid;
  color: #ec1923;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

div.contact-me:hover {
  background: #ec1923;
  color: white;
}

div.contact-me a {
  transition: all 0.2s ease-in-out;
  color: #ec1923;
  text-decoration: none;
}

div.contact-me:hover a {
  color: white;
}

.side-drawer_navigation-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: rgb(0, 0, 0, 0.02);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer ul li {
  height: 30px;
  padding-left: 30px;
}

.side-drawer ul a {
  text-decoration: none;
  color: #353948;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 100%;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.bottom-section {
  display: flex;
  height: 110px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.github__logo,
.github__logo img{
  height: 35px;
}

span.active {
  opacity: 1;
}

.side-drawer span {
  padding: 0 5px;
  opacity: 0.5;
  cursor: pointer;
}


.active-route {
  border-bottom: 1px solid #ec1923;
}

.side-drawer span.active-lang {
  opacity: 1;
}